/* BudgetCalc stylesheet */

* {
    /* Remove any unwanted space on all objects */
    margin: 0;
    padding: 0;
}
input {
    border: none;
    height: 40px;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
}
/* Disable spinners */
input[type=number] {
    text-indent: 15px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* Change input placeholder style */
::-webkit-input-placeholder {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
	font-weight: normal;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

#data-amount-dollarsign {
    position: relative;
    float: left;
    top:30px;
}
#income-salary {
    color: #009900;
}
#income-amount {
    color: #009900;
}
#savings-amount {
    color: #003366;
}
#emergency-savings-amount {
    color: #003366;
}
.expense-amount {
    color: #990000;
}
.budget-amount {
    color: darkgoldenrod;
    background-color: white;
}
/* Typography/Formatting */
html {
	font-family: 'Roboto', sans-serif;
    height: 100%;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

/* Header styling, logos, etc. */
.header {
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
}
#header-logo {
    position: relative;
    float: right;
    right: 20px;
    top: 10px;
    font-size: 40px;
    font-weight: 300;
    color: #999999;
}
#header-logo a {
    text-decoration: none;
    color: #999999;
}
#header-logo-subtitle {
    position: relative;
    float: left;
    left: 10px;
    top: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}
.share-buttons {
    position: relative;
    left: 20px;
    top: 5px;
}
/* Body styling, tables etc. */
.body {
    position: relative;
    width: 50%;
    height: auto;
    float: left;
}
/* Style graphing area */
#canvas-holder {
    position: fixed;
    width: 40%;
    height: 100%;
    right: 17%;
}
#chart-area {
    position: relative;
    top: 40px;
}
.chart-legend {
    position: relative;
    float: right;
    width: 150px;
    height: auto;
    top: 30px;
    right: 43px;
}
.chart-legend li {
    display: inline;
    position: relative;
    font-size: 13px;
}
.chart-legend li span{
    /*display: inline-block;
    position: relative;
    width: 18px;
    margin: 0px 10px 0px 10px;
    margin-bottom: 4px;
    height: 18px;
    margin-right: 5px;*/
    display: block;
    position: relative;
    height: auto;
    padding: 7px;
    border-radius: 5px;
}
/* Change styling of table tag */
table {
    left: 20px;
    border-spacing: 0px;
}
table tr {
    border-bottom-color: #CACACA;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.table-caption-text {
    position: relative;
    top: 25%;
    font-size: 18px;
}
.table-income {
    position: relative;
    width: 75%;
}
#data-description { 
    position: relative;
    left: 10px;
    font-size: 16px; 
    color: #666666;
    width: 60%;
    /* Disable user selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Change cursor */
    cursor: pointer;
}
#table-caption-income {
    height: 40px;
    color: #666666;
    background-color: #66ff66;
    font-size: 22px;
    font-weight: 400;
    /* Disable user selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Make sure cursor doesn't change */
    cursor: default;
}
.table-income tr {
    height: 40px;
    background-color: #ccffcc;
}
.table-savings {
    position: relative;
    width: 75%;
    top: 30px;
}
#table-caption-savings {
    height: 40px;
    color: #666666;
    background-color: #99ccff;
    /* Disable user selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Make sure cursor doesn't change */
    cursor: default;
}
.table-savings tr {
    height: 40px;
    background-color: #ccffff;
}
.table-expenses {
    position: relative;
    width: 75%;
    top: 60px;
}
#table-caption-expenses {
    height: 40px;
    color: #666666;
    background-color: #ff9999;
    /* Disable user selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Make sure cursor doesn't change */
    cursor: default;
}
.table-expenses tr {
    height: 40px;
    background-color: #ffcccc;
}
.table-budget {
    position: fixed;
    width: 40%;
    height: auto;
    bottom: 10px;
    left: 43%;
    z-index: 1;
}
.table-budget tr {
    height: 40px;
    background-color: #ffff99;
}
#table-caption-budget {
    height: 40px;
    color: #666666;
    background-color: #ffcc33;
    /* Disable user selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Make sure cursor doesn't change */
    cursor: default;
}

/* Style UI */
#add-button {
    position: relative;
    float: left;
    height: auto;
    width: auto;
    top: -2px;
    left: 10px;
    background: none;
    color: #666666;
    font-size: 35px;
}

/* CSS Tooltips! */
[tooltip]:before {            
    position : absolute;
    content : attr(tooltip);
    opacity : 0;
}
[tooltip]:after {            
    position : absolute;
    content : attr(tooltip);
    opacity : 0;
}
[tooltip]:hover:before {        
    opacity : 1;
    background: #333;
    background: rgba(0,0,0,.3);
    border-radius: 3px;
    width: auto;
    bottom: 36px;
    color: #fff;
    padding: 0 10px 0 10px;
    transition: opacity 0.5s linear;
}
[tooltip]:hover:after {        
    opacity: 0;
    transition: opacity 0.5s linear;
}

/* Responsive CSS below - when screen resolution less than 960, change layout */
@media all and (max-width: 960px){
    /* Unfortunately for Chrome in Android, the scrollbar disapperars when scrolling
       down the content, creating whitespace momentarily at the bottom of the page. In
       So I would rather give it a flat background color to make it faster on mobile,
       and to avoid any strange behavior from mobile browsers.
    */
    .body {
        position: relative;
        width: 100%;
        height: auto;
        float: none;
    }
    #header-logo {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 10px;
        font-size: 40px;
        font-weight: 300;
        color: #999999;
    }
    #header-logo-subtitle {
        display: none;
    }
    #canvas-holder {
        display: none;
    }
    #chart-area {
        display: none;
    }
    .chart-legend {
        display: none;
    }
    table {
        left: 0;
    }
    .table-income {
        position: relative;
        width: 100%;
    }
    .table-savings {
        position: relative;
        width: 100%;
        top: 0px;
    }
    .table-expenses {
        position: relative;
        width: 100%;
        top: 0px;
    }
    .table-budget {
        position: relative;
        width: 100%;
        top: 0px;
        padding-bottom: 0px;
        bottom: 0;
        left: 0;
    }
    .share-buttons {
        display: none;
    }
    /* Disable tooltips when responsive */
    [tooltip]:before {            
        content : none;
        opacity : 0;
    }
    [tooltip]:after {
        content : none;
        opacity : 0;
    }
    [tooltip]:hover:before {        
        opacity : 0;
        border-radius: 0px;
        width: 0;
        bottom: 0;
        padding: 0;
        transition: none;
    }
    [tooltip]:hover:after {        
        opacity: 0;
        transition: none;
    }
}
